<!--<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
-->

<div class="card bg-light text-dark text-left card-form">
  <div class="card-body">
    <h3 class="card-header text-light text-center w-25  bg-dark rounded mx-auto" >Login</h3>
    <hr>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <form>
    <div>
      <div >
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "email" %>
      </div>
     
    <div class="actions text-right mt-3">
             <%= f.submit "Send me reset password instructions", class: "btn rounded-pill btn-success  btn-block w-50 mx-auto btn-outline-dark" %>
    </div>
    </form>
    <%end%>
     <%= render "devise/shared/links" %>
  </div>
</div> 
</div>
