<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
     
          <%= render 'shared/application_nav' %> 
             <%= yield %>
             <%= source_helper %>
              <footer class="mastfoot mt-auto">
                <div class="inner">
                  <p>&copy; 2020 | Bhavesh Mishra   All rights reserved </p>
                </div>
              </footer>
               <%= render 'shared/alerts' %>
              
       </div>
  </body>
</html>